body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.profile {
    width: 300px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #00FF00;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#00FF00 0%, #00FFFF 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

h1 {
    font-size: 40;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 42;
    background-color: #FFC0CB;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.line {
    height: 6px;
    background-color: #000000;
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.menu {
    position: fixed;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 0px;
}

.links {
    padding-top: 5px;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
    display: inline;
}

.links:hover {
    background-color: #1E90FF;
}

a {
    text-decoration: none;
    font-size: medium;
}

a:hover {
    color: #5F9EA0;
}

img {
    width: 350px;
    transition: transform .2s;
    border: 10px solid #AAAAAA;
}

img:hover {
    transform: scale(0.9);
}

#about a {
    text-shadow: none !important;
    text-decoration: underline !important;
    color: #0000FF !important;
}

#contact {
    background-color: #B22222;
}

.footer a {
    color: #FFFFFF;
    text-shadow: none;
}

.footer h3 {
    display: inline;
}

#contact iframe {
    width: 100%;
}